@charset "utf-8";
@media only screen and (max-width: 768px) {
    
    /******************************/
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
	
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
	
}
@media only screen and (min-width: 1201px) {
    .fotoppost{
        overflow: hidden;
        height: 280px;
    }
    .estatss{
        text-align: right;
    }
    .publicidad{
        overflow: hidden;
        height: 200px;
    }
}
