    /*
    Flaticon icon font: Flaticon
    Creation date: 23/05/2016 03:42
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-2442:before { content: "\f100"; }
.flaticon-agenda12:before { content: "\f101"; }
.flaticon-aim5:before { content: "\f102"; }
.flaticon-amazon4:before { content: "\f103"; }
.flaticon-american16:before { content: "\f104"; }
.flaticon-arrow68:before { content: "\f105"; }
.flaticon-arrowhead7:before { content: "\f106"; }
.flaticon-article3:before { content: "\f107"; }
.flaticon-auricular6:before { content: "\f108"; }
.flaticon-back28:before { content: "\f109"; }
.flaticon-back57:before { content: "\f10a"; }
.flaticon-bald34:before { content: "\f10b"; }
.flaticon-barefoot9:before { content: "\f10c"; }
.flaticon-basketball32:before { content: "\f10d"; }
.flaticon-bathroom37:before { content: "\f10e"; }
.flaticon-birds14:before { content: "\f10f"; }
.flaticon-black268:before { content: "\f110"; }
.flaticon-black330:before { content: "\f111"; }
.flaticon-book135:before { content: "\f112"; }
.flaticon-books71:before { content: "\f113"; }
.flaticon-burn7:before { content: "\f114"; }
.flaticon-businessman210:before { content: "\f115"; }
.flaticon-camera131:before { content: "\f116"; }
.flaticon-cellphone82:before { content: "\f117"; }
.flaticon-cellphone84:before { content: "\f118"; }
.flaticon-cellphone86:before { content: "\f119"; }
.flaticon-cellphone88:before { content: "\f11a"; }
.flaticon-center14:before { content: "\f11b"; }
.flaticon-check47:before { content: "\f11c"; }
.flaticon-checked20:before { content: "\f11d"; }
.flaticon-checking1:before { content: "\f11e"; }
.flaticon-christmas151:before { content: "\f11f"; }
.flaticon-circles22:before { content: "\f120"; }
.flaticon-class6:before { content: "\f121"; }
.flaticon-click4:before { content: "\f122"; }
.flaticon-click5:before { content: "\f123"; }
.flaticon-client2:before { content: "\f124"; }
.flaticon-clock118:before { content: "\f125"; }
.flaticon-close6:before { content: "\f126"; }
.flaticon-clothing5:before { content: "\f127"; }
.flaticon-clover9:before { content: "\f128"; }
.flaticon-code13:before { content: "\f129"; }
.flaticon-coins30:before { content: "\f12a"; }
.flaticon-coins34:before { content: "\f12b"; }
.flaticon-comedy2:before { content: "\f12c"; }
.flaticon-complete3:before { content: "\f12d"; }
.flaticon-connected22:before { content: "\f12e"; }
.flaticon-connection28:before { content: "\f12f"; }
.flaticon-connector3:before { content: "\f130"; }
.flaticon-contacts13:before { content: "\f131"; }
.flaticon-cross102:before { content: "\f132"; }
.flaticon-crown37:before { content: "\f133"; }
.flaticon-delivery17:before { content: "\f134"; }
.flaticon-delivery26:before { content: "\f135"; }
.flaticon-diamond22:before { content: "\f136"; }
.flaticon-direction196:before { content: "\f137"; }
.flaticon-distance1:before { content: "\f138"; }
.flaticon-document183:before { content: "\f139"; }
.flaticon-donation1:before { content: "\f13a"; }
.flaticon-dots16:before { content: "\f13b"; }
.flaticon-down13:before { content: "\f13c"; }
.flaticon-down53:before { content: "\f13d"; }
.flaticon-draw10:before { content: "\f13e"; }
.flaticon-dress2:before { content: "\f13f"; }
.flaticon-drop42:before { content: "\f140"; }
.flaticon-ebay5:before { content: "\f141"; }
.flaticon-email103:before { content: "\f142"; }
.flaticon-email109:before { content: "\f143"; }
.flaticon-email5:before { content: "\f144"; }
.flaticon-emblem:before { content: "\f145"; }
.flaticon-enlarge3:before { content: "\f146"; }
.flaticon-envelope68:before { content: "\f147"; }
.flaticon-facebook2:before { content: "\f148"; }
.flaticon-facebook55:before { content: "\f149"; }
.flaticon-fast-forward4:before { content: "\f14a"; }
.flaticon-favorite40:before { content: "\f14b"; }
.flaticon-first33:before { content: "\f14c"; }
.flaticon-game61:before { content: "\f14d"; }
.flaticon-gardening16:before { content: "\f14e"; }
.flaticon-gear39:before { content: "\f14f"; }
.flaticon-google-plus:before { content: "\f150"; }
.flaticon-google32:before { content: "\f151"; }
.flaticon-graduate20:before { content: "\f152"; }
.flaticon-graduate34:before { content: "\f153"; }
.flaticon-graduate38:before { content: "\f154"; }
.flaticon-graduation-cap2:before { content: "\f155"; }
.flaticon-graphic35:before { content: "\f156"; }
.flaticon-graphic4:before { content: "\f157"; }
.flaticon-group44:before { content: "\f158"; }
.flaticon-hand-1:before { content: "\f159"; }
.flaticon-hand220:before { content: "\f15a"; }
.flaticon-hand256:before { content: "\f15b"; }
.flaticon-hands13:before { content: "\f15c"; }
.flaticon-hat33:before { content: "\f15d"; }
.flaticon-heart13:before { content: "\f15e"; }
.flaticon-heart316:before { content: "\f15f"; }
.flaticon-home168:before { content: "\f160"; }
.flaticon-home4:before { content: "\f161"; }
.flaticon-hsbc:before { content: "\f162"; }
.flaticon-image6:before { content: "\f163"; }
.flaticon-image82:before { content: "\f164"; }
.flaticon-images25:before { content: "\f165"; }
.flaticon-info34:before { content: "\f166"; }
.flaticon-instagram12:before { content: "\f167"; }
.flaticon-justice4:before { content: "\f168"; }
.flaticon-label:before { content: "\f169"; }
.flaticon-label49:before { content: "\f16a"; }
.flaticon-leaf64:before { content: "\f16b"; }
.flaticon-left-arrow7:before { content: "\f16c"; }
.flaticon-left37:before { content: "\f16d"; }
.flaticon-link22:before { content: "\f16e"; }
.flaticon-link70:before { content: "\f16f"; }
.flaticon-location54:before { content: "\f170"; }
.flaticon-lock134:before { content: "\f171"; }
.flaticon-logotype49:before { content: "\f172"; }
.flaticon-loop12:before { content: "\f173"; }
.flaticon-magnifying-glass48:before { content: "\f174"; }
.flaticon-magnifying-glass9:before { content: "\f175"; }
.flaticon-male103:before { content: "\f176"; }
.flaticon-manager:before { content: "\f177"; }
.flaticon-map47:before { content: "\f178"; }
.flaticon-marketing-buzz:before { content: "\f179"; }
.flaticon-master3:before { content: "\f17a"; }
.flaticon-mastercard5:before { content: "\f17b"; }
.flaticon-menu51:before { content: "\f17c"; }
.flaticon-mind:before { content: "\f17d"; }
.flaticon-money132:before { content: "\f17e"; }
.flaticon-musical124:before { content: "\f17f"; }
.flaticon-network38:before { content: "\f180"; }
.flaticon-one62:before { content: "\f181"; }
.flaticon-opened4:before { content: "\f182"; }
.flaticon-organization3:before { content: "\f183"; }
.flaticon-package11:before { content: "\f184"; }
.flaticon-padlock108:before { content: "\f185"; }
.flaticon-padlock54:before { content: "\f186"; }
.flaticon-paint4:before { content: "\f187"; }
.flaticon-paint41:before { content: "\f188"; }
.flaticon-paint48:before { content: "\f189"; }
.flaticon-paint82:before { content: "\f18a"; }
.flaticon-paint86:before { content: "\f18b"; }
.flaticon-paint88:before { content: "\f18c"; }
.flaticon-painter14:before { content: "\f18d"; }
.flaticon-palm1:before { content: "\f18e"; }
.flaticon-panel:before { content: "\f18f"; }
.flaticon-paper101:before { content: "\f190"; }
.flaticon-paper34:before { content: "\f191"; }
.flaticon-paper6:before { content: "\f192"; }
.flaticon-pawprint2:before { content: "\f193"; }
.flaticon-pay1:before { content: "\f194"; }
.flaticon-pay2:before { content: "\f195"; }
.flaticon-payment7:before { content: "\f196"; }
.flaticon-paypal10:before { content: "\f197"; }
.flaticon-paypal11:before { content: "\f198"; }
.flaticon-pdf19:before { content: "\f199"; }
.flaticon-peace:before { content: "\f19a"; }
.flaticon-pen42:before { content: "\f19b"; }
.flaticon-pen43:before { content: "\f19c"; }
.flaticon-phone72:before { content: "\f19d"; }
.flaticon-photography111:before { content: "\f19e"; }
.flaticon-photos13:before { content: "\f19f"; }
.flaticon-pin56:before { content: "\f1a0"; }
.flaticon-placeholder8:before { content: "\f1a1"; }
.flaticon-plant37:before { content: "\f1a2"; }
.flaticon-play-button4:before { content: "\f1a3"; }
.flaticon-plug42:before { content: "\f1a4"; }
.flaticon-plus81:before { content: "\f1a5"; }
.flaticon-pound-sign:before { content: "\f1a6"; }
.flaticon-power39:before { content: "\f1a7"; }
.flaticon-precious:before { content: "\f1a8"; }
.flaticon-prize3:before { content: "\f1a9"; }
.flaticon-productivity:before { content: "\f1aa"; }
.flaticon-programming2:before { content: "\f1ab"; }
.flaticon-puzzle-piece1:before { content: "\f1ac"; }
.flaticon-radar8:before { content: "\f1ad"; }
.flaticon-recognition6:before { content: "\f1ae"; }
.flaticon-refresh62:before { content: "\f1af"; }
.flaticon-reload9:before { content: "\f1b0"; }
.flaticon-ribbon20:before { content: "\f1b1"; }
.flaticon-right-arrow26:before { content: "\f1b2"; }
.flaticon-right127:before { content: "\f1b3"; }
.flaticon-rising9:before { content: "\f1b4"; }
.flaticon-sad70:before { content: "\f1b5"; }
.flaticon-school84:before { content: "\f1b6"; }
.flaticon-send4:before { content: "\f1b7"; }
.flaticon-seo14:before { content: "\f1b8"; }
.flaticon-seo16:before { content: "\f1b9"; }
.flaticon-seo18:before { content: "\f1ba"; }
.flaticon-seo19:before { content: "\f1bb"; }
.flaticon-seo20:before { content: "\f1bc"; }
.flaticon-shake1:before { content: "\f1bd"; }
.flaticon-share57:before { content: "\f1be"; }
.flaticon-shopping122:before { content: "\f1bf"; }
.flaticon-shopping145:before { content: "\f1c0"; }
.flaticon-shuffle25:before { content: "\f1c1"; }
.flaticon-smartphone11:before { content: "\f1c2"; }
.flaticon-smartphone12:before { content: "\f1c3"; }
.flaticon-smartphone14:before { content: "\f1c4"; }
.flaticon-smartphone90:before { content: "\f1c5"; }
.flaticon-smartphone93:before { content: "\f1c6"; }
.flaticon-smartphone94:before { content: "\f1c7"; }
.flaticon-smartphones17:before { content: "\f1c8"; }
.flaticon-smile:before { content: "\f1c9"; }
.flaticon-social16:before { content: "\f1ca"; }
.flaticon-social28:before { content: "\f1cb"; }
.flaticon-speech-bubble18:before { content: "\f1cc"; }
.flaticon-speech-bubble7:before { content: "\f1cd"; }
.flaticon-sport17:before { content: "\f1ce"; }
.flaticon-sun45:before { content: "\f1cf"; }
.flaticon-swirling:before { content: "\f1d0"; }
.flaticon-tablet13:before { content: "\f1d1"; }
.flaticon-target22:before { content: "\f1d2"; }
.flaticon-target50:before { content: "\f1d3"; }
.flaticon-tea24:before { content: "\f1d4"; }
.flaticon-technology7:before { content: "\f1d5"; }
.flaticon-telephone-call:before { content: "\f1d6"; }
.flaticon-telephone22:before { content: "\f1d7"; }
.flaticon-telephone26:before { content: "\f1d8"; }
.flaticon-telephone29:before { content: "\f1d9"; }
.flaticon-telephone31:before { content: "\f1da"; }
.flaticon-telephone38:before { content: "\f1db"; }
.flaticon-telephone39:before { content: "\f1dc"; }
.flaticon-telephone46:before { content: "\f1dd"; }
.flaticon-text10:before { content: "\f1de"; }
.flaticon-thumb-down:before { content: "\f1df"; }
.flaticon-time25:before { content: "\f1e0"; }
.flaticon-time31:before { content: "\f1e1"; }
.flaticon-touch18:before { content: "\f1e2"; }
.flaticon-triangular42:before { content: "\f1e3"; }
.flaticon-trophy42:before { content: "\f1e4"; }
.flaticon-trophy53:before { content: "\f1e5"; }
.flaticon-trophy68:before { content: "\f1e6"; }
.flaticon-turn-on:before { content: "\f1e7"; }
.flaticon-twitter:before { content: "\f1e8"; }
.flaticon-twitter1:before { content: "\f1e9"; }
.flaticon-unlocked44:before { content: "\f1ea"; }
.flaticon-user91:before { content: "\f1eb"; }
.flaticon-verification5:before { content: "\f1ec"; }
.flaticon-view24:before { content: "\f1ed"; }
.flaticon-view32:before { content: "\f1ee"; }
.flaticon-visa4:before { content: "\f1ef"; }
.flaticon-visa5:before { content: "\f1f0"; }
.flaticon-visible9:before { content: "\f1f1"; }
.flaticon-watch2:before { content: "\f1f2"; }
.flaticon-weapon63:before { content: "\f1f3"; }
.flaticon-web2:before { content: "\f1f4"; }
.flaticon-web64:before { content: "\f1f5"; }
.flaticon-website11:before { content: "\f1f6"; }
.flaticon-western1:before { content: "\f1f7"; }
.flaticon-wheel2:before { content: "\f1f8"; }
.flaticon-wifi84:before { content: "\f1f9"; }
.flaticon-windows10:before { content: "\f1fa"; }
.flaticon-winner17:before { content: "\f1fb"; }
.flaticon-write12:before { content: "\f1fc"; }
.flaticon-youtube18:before { content: "\f1fd"; }
.flaticon-youtube30:before { content: "\f1fe"; }
    
    $font-Flaticon-2442: "\f100";
    $font-Flaticon-agenda12: "\f101";
    $font-Flaticon-aim5: "\f102";
    $font-Flaticon-amazon4: "\f103";
    $font-Flaticon-american16: "\f104";
    $font-Flaticon-arrow68: "\f105";
    $font-Flaticon-arrowhead7: "\f106";
    $font-Flaticon-article3: "\f107";
    $font-Flaticon-auricular6: "\f108";
    $font-Flaticon-back28: "\f109";
    $font-Flaticon-back57: "\f10a";
    $font-Flaticon-bald34: "\f10b";
    $font-Flaticon-barefoot9: "\f10c";
    $font-Flaticon-basketball32: "\f10d";
    $font-Flaticon-bathroom37: "\f10e";
    $font-Flaticon-birds14: "\f10f";
    $font-Flaticon-black268: "\f110";
    $font-Flaticon-black330: "\f111";
    $font-Flaticon-book135: "\f112";
    $font-Flaticon-books71: "\f113";
    $font-Flaticon-burn7: "\f114";
    $font-Flaticon-businessman210: "\f115";
    $font-Flaticon-camera131: "\f116";
    $font-Flaticon-cellphone82: "\f117";
    $font-Flaticon-cellphone84: "\f118";
    $font-Flaticon-cellphone86: "\f119";
    $font-Flaticon-cellphone88: "\f11a";
    $font-Flaticon-center14: "\f11b";
    $font-Flaticon-check47: "\f11c";
    $font-Flaticon-checked20: "\f11d";
    $font-Flaticon-checking1: "\f11e";
    $font-Flaticon-christmas151: "\f11f";
    $font-Flaticon-circles22: "\f120";
    $font-Flaticon-class6: "\f121";
    $font-Flaticon-click4: "\f122";
    $font-Flaticon-click5: "\f123";
    $font-Flaticon-client2: "\f124";
    $font-Flaticon-clock118: "\f125";
    $font-Flaticon-close6: "\f126";
    $font-Flaticon-clothing5: "\f127";
    $font-Flaticon-clover9: "\f128";
    $font-Flaticon-code13: "\f129";
    $font-Flaticon-coins30: "\f12a";
    $font-Flaticon-coins34: "\f12b";
    $font-Flaticon-comedy2: "\f12c";
    $font-Flaticon-complete3: "\f12d";
    $font-Flaticon-connected22: "\f12e";
    $font-Flaticon-connection28: "\f12f";
    $font-Flaticon-connector3: "\f130";
    $font-Flaticon-contacts13: "\f131";
    $font-Flaticon-cross102: "\f132";
    $font-Flaticon-crown37: "\f133";
    $font-Flaticon-delivery17: "\f134";
    $font-Flaticon-delivery26: "\f135";
    $font-Flaticon-diamond22: "\f136";
    $font-Flaticon-direction196: "\f137";
    $font-Flaticon-distance1: "\f138";
    $font-Flaticon-document183: "\f139";
    $font-Flaticon-donation1: "\f13a";
    $font-Flaticon-dots16: "\f13b";
    $font-Flaticon-down13: "\f13c";
    $font-Flaticon-down53: "\f13d";
    $font-Flaticon-draw10: "\f13e";
    $font-Flaticon-dress2: "\f13f";
    $font-Flaticon-drop42: "\f140";
    $font-Flaticon-ebay5: "\f141";
    $font-Flaticon-email103: "\f142";
    $font-Flaticon-email109: "\f143";
    $font-Flaticon-email5: "\f144";
    $font-Flaticon-emblem: "\f145";
    $font-Flaticon-enlarge3: "\f146";
    $font-Flaticon-envelope68: "\f147";
    $font-Flaticon-facebook2: "\f148";
    $font-Flaticon-facebook55: "\f149";
    $font-Flaticon-fast-forward4: "\f14a";
    $font-Flaticon-favorite40: "\f14b";
    $font-Flaticon-first33: "\f14c";
    $font-Flaticon-game61: "\f14d";
    $font-Flaticon-gardening16: "\f14e";
    $font-Flaticon-gear39: "\f14f";
    $font-Flaticon-google-plus: "\f150";
    $font-Flaticon-google32: "\f151";
    $font-Flaticon-graduate20: "\f152";
    $font-Flaticon-graduate34: "\f153";
    $font-Flaticon-graduate38: "\f154";
    $font-Flaticon-graduation-cap2: "\f155";
    $font-Flaticon-graphic35: "\f156";
    $font-Flaticon-graphic4: "\f157";
    $font-Flaticon-group44: "\f158";
    $font-Flaticon-hand-1: "\f159";
    $font-Flaticon-hand220: "\f15a";
    $font-Flaticon-hand256: "\f15b";
    $font-Flaticon-hands13: "\f15c";
    $font-Flaticon-hat33: "\f15d";
    $font-Flaticon-heart13: "\f15e";
    $font-Flaticon-heart316: "\f15f";
    $font-Flaticon-home168: "\f160";
    $font-Flaticon-home4: "\f161";
    $font-Flaticon-hsbc: "\f162";
    $font-Flaticon-image6: "\f163";
    $font-Flaticon-image82: "\f164";
    $font-Flaticon-images25: "\f165";
    $font-Flaticon-info34: "\f166";
    $font-Flaticon-instagram12: "\f167";
    $font-Flaticon-justice4: "\f168";
    $font-Flaticon-label: "\f169";
    $font-Flaticon-label49: "\f16a";
    $font-Flaticon-leaf64: "\f16b";
    $font-Flaticon-left-arrow7: "\f16c";
    $font-Flaticon-left37: "\f16d";
    $font-Flaticon-link22: "\f16e";
    $font-Flaticon-link70: "\f16f";
    $font-Flaticon-location54: "\f170";
    $font-Flaticon-lock134: "\f171";
    $font-Flaticon-logotype49: "\f172";
    $font-Flaticon-loop12: "\f173";
    $font-Flaticon-magnifying-glass48: "\f174";
    $font-Flaticon-magnifying-glass9: "\f175";
    $font-Flaticon-male103: "\f176";
    $font-Flaticon-manager: "\f177";
    $font-Flaticon-map47: "\f178";
    $font-Flaticon-marketing-buzz: "\f179";
    $font-Flaticon-master3: "\f17a";
    $font-Flaticon-mastercard5: "\f17b";
    $font-Flaticon-menu51: "\f17c";
    $font-Flaticon-mind: "\f17d";
    $font-Flaticon-money132: "\f17e";
    $font-Flaticon-musical124: "\f17f";
    $font-Flaticon-network38: "\f180";
    $font-Flaticon-one62: "\f181";
    $font-Flaticon-opened4: "\f182";
    $font-Flaticon-organization3: "\f183";
    $font-Flaticon-package11: "\f184";
    $font-Flaticon-padlock108: "\f185";
    $font-Flaticon-padlock54: "\f186";
    $font-Flaticon-paint4: "\f187";
    $font-Flaticon-paint41: "\f188";
    $font-Flaticon-paint48: "\f189";
    $font-Flaticon-paint82: "\f18a";
    $font-Flaticon-paint86: "\f18b";
    $font-Flaticon-paint88: "\f18c";
    $font-Flaticon-painter14: "\f18d";
    $font-Flaticon-palm1: "\f18e";
    $font-Flaticon-panel: "\f18f";
    $font-Flaticon-paper101: "\f190";
    $font-Flaticon-paper34: "\f191";
    $font-Flaticon-paper6: "\f192";
    $font-Flaticon-pawprint2: "\f193";
    $font-Flaticon-pay1: "\f194";
    $font-Flaticon-pay2: "\f195";
    $font-Flaticon-payment7: "\f196";
    $font-Flaticon-paypal10: "\f197";
    $font-Flaticon-paypal11: "\f198";
    $font-Flaticon-pdf19: "\f199";
    $font-Flaticon-peace: "\f19a";
    $font-Flaticon-pen42: "\f19b";
    $font-Flaticon-pen43: "\f19c";
    $font-Flaticon-phone72: "\f19d";
    $font-Flaticon-photography111: "\f19e";
    $font-Flaticon-photos13: "\f19f";
    $font-Flaticon-pin56: "\f1a0";
    $font-Flaticon-placeholder8: "\f1a1";
    $font-Flaticon-plant37: "\f1a2";
    $font-Flaticon-play-button4: "\f1a3";
    $font-Flaticon-plug42: "\f1a4";
    $font-Flaticon-plus81: "\f1a5";
    $font-Flaticon-pound-sign: "\f1a6";
    $font-Flaticon-power39: "\f1a7";
    $font-Flaticon-precious: "\f1a8";
    $font-Flaticon-prize3: "\f1a9";
    $font-Flaticon-productivity: "\f1aa";
    $font-Flaticon-programming2: "\f1ab";
    $font-Flaticon-puzzle-piece1: "\f1ac";
    $font-Flaticon-radar8: "\f1ad";
    $font-Flaticon-recognition6: "\f1ae";
    $font-Flaticon-refresh62: "\f1af";
    $font-Flaticon-reload9: "\f1b0";
    $font-Flaticon-ribbon20: "\f1b1";
    $font-Flaticon-right-arrow26: "\f1b2";
    $font-Flaticon-right127: "\f1b3";
    $font-Flaticon-rising9: "\f1b4";
    $font-Flaticon-sad70: "\f1b5";
    $font-Flaticon-school84: "\f1b6";
    $font-Flaticon-send4: "\f1b7";
    $font-Flaticon-seo14: "\f1b8";
    $font-Flaticon-seo16: "\f1b9";
    $font-Flaticon-seo18: "\f1ba";
    $font-Flaticon-seo19: "\f1bb";
    $font-Flaticon-seo20: "\f1bc";
    $font-Flaticon-shake1: "\f1bd";
    $font-Flaticon-share57: "\f1be";
    $font-Flaticon-shopping122: "\f1bf";
    $font-Flaticon-shopping145: "\f1c0";
    $font-Flaticon-shuffle25: "\f1c1";
    $font-Flaticon-smartphone11: "\f1c2";
    $font-Flaticon-smartphone12: "\f1c3";
    $font-Flaticon-smartphone14: "\f1c4";
    $font-Flaticon-smartphone90: "\f1c5";
    $font-Flaticon-smartphone93: "\f1c6";
    $font-Flaticon-smartphone94: "\f1c7";
    $font-Flaticon-smartphones17: "\f1c8";
    $font-Flaticon-smile: "\f1c9";
    $font-Flaticon-social16: "\f1ca";
    $font-Flaticon-social28: "\f1cb";
    $font-Flaticon-speech-bubble18: "\f1cc";
    $font-Flaticon-speech-bubble7: "\f1cd";
    $font-Flaticon-sport17: "\f1ce";
    $font-Flaticon-sun45: "\f1cf";
    $font-Flaticon-swirling: "\f1d0";
    $font-Flaticon-tablet13: "\f1d1";
    $font-Flaticon-target22: "\f1d2";
    $font-Flaticon-target50: "\f1d3";
    $font-Flaticon-tea24: "\f1d4";
    $font-Flaticon-technology7: "\f1d5";
    $font-Flaticon-telephone-call: "\f1d6";
    $font-Flaticon-telephone22: "\f1d7";
    $font-Flaticon-telephone26: "\f1d8";
    $font-Flaticon-telephone29: "\f1d9";
    $font-Flaticon-telephone31: "\f1da";
    $font-Flaticon-telephone38: "\f1db";
    $font-Flaticon-telephone39: "\f1dc";
    $font-Flaticon-telephone46: "\f1dd";
    $font-Flaticon-text10: "\f1de";
    $font-Flaticon-thumb-down: "\f1df";
    $font-Flaticon-time25: "\f1e0";
    $font-Flaticon-time31: "\f1e1";
    $font-Flaticon-touch18: "\f1e2";
    $font-Flaticon-triangular42: "\f1e3";
    $font-Flaticon-trophy42: "\f1e4";
    $font-Flaticon-trophy53: "\f1e5";
    $font-Flaticon-trophy68: "\f1e6";
    $font-Flaticon-turn-on: "\f1e7";
    $font-Flaticon-twitter: "\f1e8";
    $font-Flaticon-twitter1: "\f1e9";
    $font-Flaticon-unlocked44: "\f1ea";
    $font-Flaticon-user91: "\f1eb";
    $font-Flaticon-verification5: "\f1ec";
    $font-Flaticon-view24: "\f1ed";
    $font-Flaticon-view32: "\f1ee";
    $font-Flaticon-visa4: "\f1ef";
    $font-Flaticon-visa5: "\f1f0";
    $font-Flaticon-visible9: "\f1f1";
    $font-Flaticon-watch2: "\f1f2";
    $font-Flaticon-weapon63: "\f1f3";
    $font-Flaticon-web2: "\f1f4";
    $font-Flaticon-web64: "\f1f5";
    $font-Flaticon-website11: "\f1f6";
    $font-Flaticon-western1: "\f1f7";
    $font-Flaticon-wheel2: "\f1f8";
    $font-Flaticon-wifi84: "\f1f9";
    $font-Flaticon-windows10: "\f1fa";
    $font-Flaticon-winner17: "\f1fb";
    $font-Flaticon-write12: "\f1fc";
    $font-Flaticon-youtube18: "\f1fd";
    $font-Flaticon-youtube30: "\f1fe";