	/*
  	Flaticon icon font: Flaticon
  	Creation date: 23/05/2016 03:42
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
font-family: Flaticon;
font-style: normal;
}

.flaticon-2442:before { content: "\f100"; }
.flaticon-agenda12:before { content: "\f101"; }
.flaticon-aim5:before { content: "\f102"; }
.flaticon-amazon4:before { content: "\f103"; }
.flaticon-american16:before { content: "\f104"; }
.flaticon-arrow68:before { content: "\f105"; }
.flaticon-arrowhead7:before { content: "\f106"; }
.flaticon-article3:before { content: "\f107"; }
.flaticon-auricular6:before { content: "\f108"; }
.flaticon-back28:before { content: "\f109"; }
.flaticon-back57:before { content: "\f10a"; }
.flaticon-bald34:before { content: "\f10b"; }
.flaticon-barefoot9:before { content: "\f10c"; }
.flaticon-basketball32:before { content: "\f10d"; }
.flaticon-bathroom37:before { content: "\f10e"; }
.flaticon-birds14:before { content: "\f10f"; }
.flaticon-black268:before { content: "\f110"; }
.flaticon-black330:before { content: "\f111"; }
.flaticon-book135:before { content: "\f112"; }
.flaticon-books71:before { content: "\f113"; }
.flaticon-burn7:before { content: "\f114"; }
.flaticon-businessman210:before { content: "\f115"; }
.flaticon-camera131:before { content: "\f116"; }
.flaticon-cellphone82:before { content: "\f117"; }
.flaticon-cellphone84:before { content: "\f118"; }
.flaticon-cellphone86:before { content: "\f119"; }
.flaticon-cellphone88:before { content: "\f11a"; }
.flaticon-center14:before { content: "\f11b"; }
.flaticon-check47:before { content: "\f11c"; }
.flaticon-checked20:before { content: "\f11d"; }
.flaticon-checking1:before { content: "\f11e"; }
.flaticon-christmas151:before { content: "\f11f"; }
.flaticon-circles22:before { content: "\f120"; }
.flaticon-class6:before { content: "\f121"; }
.flaticon-click4:before { content: "\f122"; }
.flaticon-click5:before { content: "\f123"; }
.flaticon-client2:before { content: "\f124"; }
.flaticon-clock118:before { content: "\f125"; }
.flaticon-close6:before { content: "\f126"; }
.flaticon-clothing5:before { content: "\f127"; }
.flaticon-clover9:before { content: "\f128"; }
.flaticon-code13:before { content: "\f129"; }
.flaticon-coins30:before { content: "\f12a"; }
.flaticon-coins34:before { content: "\f12b"; }
.flaticon-comedy2:before { content: "\f12c"; }
.flaticon-complete3:before { content: "\f12d"; }
.flaticon-connected22:before { content: "\f12e"; }
.flaticon-connection28:before { content: "\f12f"; }
.flaticon-connector3:before { content: "\f130"; }
.flaticon-contacts13:before { content: "\f131"; }
.flaticon-cross102:before { content: "\f132"; }
.flaticon-crown37:before { content: "\f133"; }
.flaticon-delivery17:before { content: "\f134"; }
.flaticon-delivery26:before { content: "\f135"; }
.flaticon-diamond22:before { content: "\f136"; }
.flaticon-direction196:before { content: "\f137"; }
.flaticon-distance1:before { content: "\f138"; }
.flaticon-document183:before { content: "\f139"; }
.flaticon-donation1:before { content: "\f13a"; }
.flaticon-dots16:before { content: "\f13b"; }
.flaticon-down13:before { content: "\f13c"; }
.flaticon-down53:before { content: "\f13d"; }
.flaticon-draw10:before { content: "\f13e"; }
.flaticon-dress2:before { content: "\f13f"; }
.flaticon-drop42:before { content: "\f140"; }
.flaticon-ebay5:before { content: "\f141"; }
.flaticon-email103:before { content: "\f142"; }
.flaticon-email109:before { content: "\f143"; }
.flaticon-email5:before { content: "\f144"; }
.flaticon-emblem:before { content: "\f145"; }
.flaticon-enlarge3:before { content: "\f146"; }
.flaticon-envelope68:before { content: "\f147"; }
.flaticon-facebook2:before { content: "\f148"; }
.flaticon-facebook55:before { content: "\f149"; }
.flaticon-fast-forward4:before { content: "\f14a"; }
.flaticon-favorite40:before { content: "\f14b"; }
.flaticon-first33:before { content: "\f14c"; }
.flaticon-game61:before { content: "\f14d"; }
.flaticon-gardening16:before { content: "\f14e"; }
.flaticon-gear39:before { content: "\f14f"; }
.flaticon-google-plus:before { content: "\f150"; }
.flaticon-google32:before { content: "\f151"; }
.flaticon-graduate20:before { content: "\f152"; }
.flaticon-graduate34:before { content: "\f153"; }
.flaticon-graduate38:before { content: "\f154"; }
.flaticon-graduation-cap2:before { content: "\f155"; }
.flaticon-graphic35:before { content: "\f156"; }
.flaticon-graphic4:before { content: "\f157"; }
.flaticon-group44:before { content: "\f158"; }
.flaticon-hand-1:before { content: "\f159"; }
.flaticon-hand220:before { content: "\f15a"; }
.flaticon-hand256:before { content: "\f15b"; }
.flaticon-hands13:before { content: "\f15c"; }
.flaticon-hat33:before { content: "\f15d"; }
.flaticon-heart13:before { content: "\f15e"; }
.flaticon-heart316:before { content: "\f15f"; }
.flaticon-home168:before { content: "\f160"; }
.flaticon-home4:before { content: "\f161"; }
.flaticon-hsbc:before { content: "\f162"; }
.flaticon-image6:before { content: "\f163"; }
.flaticon-image82:before { content: "\f164"; }
.flaticon-images25:before { content: "\f165"; }
.flaticon-info34:before { content: "\f166"; }
.flaticon-instagram12:before { content: "\f167"; }
.flaticon-justice4:before { content: "\f168"; }
.flaticon-label:before { content: "\f169"; }
.flaticon-label49:before { content: "\f16a"; }
.flaticon-leaf64:before { content: "\f16b"; }
.flaticon-left-arrow7:before { content: "\f16c"; }
.flaticon-left37:before { content: "\f16d"; }
.flaticon-link22:before { content: "\f16e"; }
.flaticon-link70:before { content: "\f16f"; }
.flaticon-location54:before { content: "\f170"; }
.flaticon-lock134:before { content: "\f171"; }
.flaticon-logotype49:before { content: "\f172"; }
.flaticon-loop12:before { content: "\f173"; }
.flaticon-magnifying-glass48:before { content: "\f174"; }
.flaticon-magnifying-glass9:before { content: "\f175"; }
.flaticon-male103:before { content: "\f176"; }
.flaticon-manager:before { content: "\f177"; }
.flaticon-map47:before { content: "\f178"; }
.flaticon-marketing-buzz:before { content: "\f179"; }
.flaticon-master3:before { content: "\f17a"; }
.flaticon-mastercard5:before { content: "\f17b"; }
.flaticon-menu51:before { content: "\f17c"; }
.flaticon-mind:before { content: "\f17d"; }
.flaticon-money132:before { content: "\f17e"; }
.flaticon-musical124:before { content: "\f17f"; }
.flaticon-network38:before { content: "\f180"; }
.flaticon-one62:before { content: "\f181"; }
.flaticon-opened4:before { content: "\f182"; }
.flaticon-organization3:before { content: "\f183"; }
.flaticon-package11:before { content: "\f184"; }
.flaticon-padlock108:before { content: "\f185"; }
.flaticon-padlock54:before { content: "\f186"; }
.flaticon-paint4:before { content: "\f187"; }
.flaticon-paint41:before { content: "\f188"; }
.flaticon-paint48:before { content: "\f189"; }
.flaticon-paint82:before { content: "\f18a"; }
.flaticon-paint86:before { content: "\f18b"; }
.flaticon-paint88:before { content: "\f18c"; }
.flaticon-painter14:before { content: "\f18d"; }
.flaticon-palm1:before { content: "\f18e"; }
.flaticon-panel:before { content: "\f18f"; }
.flaticon-paper101:before { content: "\f190"; }
.flaticon-paper34:before { content: "\f191"; }
.flaticon-paper6:before { content: "\f192"; }
.flaticon-pawprint2:before { content: "\f193"; }
.flaticon-pay1:before { content: "\f194"; }
.flaticon-pay2:before { content: "\f195"; }
.flaticon-payment7:before { content: "\f196"; }
.flaticon-paypal10:before { content: "\f197"; }
.flaticon-paypal11:before { content: "\f198"; }
.flaticon-pdf19:before { content: "\f199"; }
.flaticon-peace:before { content: "\f19a"; }
.flaticon-pen42:before { content: "\f19b"; }
.flaticon-pen43:before { content: "\f19c"; }
.flaticon-phone72:before { content: "\f19d"; }
.flaticon-photography111:before { content: "\f19e"; }
.flaticon-photos13:before { content: "\f19f"; }
.flaticon-pin56:before { content: "\f1a0"; }
.flaticon-placeholder8:before { content: "\f1a1"; }
.flaticon-plant37:before { content: "\f1a2"; }
.flaticon-play-button4:before { content: "\f1a3"; }
.flaticon-plug42:before { content: "\f1a4"; }
.flaticon-plus81:before { content: "\f1a5"; }
.flaticon-pound-sign:before { content: "\f1a6"; }
.flaticon-power39:before { content: "\f1a7"; }
.flaticon-precious:before { content: "\f1a8"; }
.flaticon-prize3:before { content: "\f1a9"; }
.flaticon-productivity:before { content: "\f1aa"; }
.flaticon-programming2:before { content: "\f1ab"; }
.flaticon-puzzle-piece1:before { content: "\f1ac"; }
.flaticon-radar8:before { content: "\f1ad"; }
.flaticon-recognition6:before { content: "\f1ae"; }
.flaticon-refresh62:before { content: "\f1af"; }
.flaticon-reload9:before { content: "\f1b0"; }
.flaticon-ribbon20:before { content: "\f1b1"; }
.flaticon-right-arrow26:before { content: "\f1b2"; }
.flaticon-right127:before { content: "\f1b3"; }
.flaticon-rising9:before { content: "\f1b4"; }
.flaticon-sad70:before { content: "\f1b5"; }
.flaticon-school84:before { content: "\f1b6"; }
.flaticon-send4:before { content: "\f1b7"; }
.flaticon-seo14:before { content: "\f1b8"; }
.flaticon-seo16:before { content: "\f1b9"; }
.flaticon-seo18:before { content: "\f1ba"; }
.flaticon-seo19:before { content: "\f1bb"; }
.flaticon-seo20:before { content: "\f1bc"; }
.flaticon-shake1:before { content: "\f1bd"; }
.flaticon-share57:before { content: "\f1be"; }
.flaticon-shopping122:before { content: "\f1bf"; }
.flaticon-shopping145:before { content: "\f1c0"; }
.flaticon-shuffle25:before { content: "\f1c1"; }
.flaticon-smartphone11:before { content: "\f1c2"; }
.flaticon-smartphone12:before { content: "\f1c3"; }
.flaticon-smartphone14:before { content: "\f1c4"; }
.flaticon-smartphone90:before { content: "\f1c5"; }
.flaticon-smartphone93:before { content: "\f1c6"; }
.flaticon-smartphone94:before { content: "\f1c7"; }
.flaticon-smartphones17:before { content: "\f1c8"; }
.flaticon-smile:before { content: "\f1c9"; }
.flaticon-social16:before { content: "\f1ca"; }
.flaticon-social28:before { content: "\f1cb"; }
.flaticon-speech-bubble18:before { content: "\f1cc"; }
.flaticon-speech-bubble7:before { content: "\f1cd"; }
.flaticon-sport17:before { content: "\f1ce"; }
.flaticon-sun45:before { content: "\f1cf"; }
.flaticon-swirling:before { content: "\f1d0"; }
.flaticon-tablet13:before { content: "\f1d1"; }
.flaticon-target22:before { content: "\f1d2"; }
.flaticon-target50:before { content: "\f1d3"; }
.flaticon-tea24:before { content: "\f1d4"; }
.flaticon-technology7:before { content: "\f1d5"; }
.flaticon-telephone-call:before { content: "\f1d6"; }
.flaticon-telephone22:before { content: "\f1d7"; }
.flaticon-telephone26:before { content: "\f1d8"; }
.flaticon-telephone29:before { content: "\f1d9"; }
.flaticon-telephone31:before { content: "\f1da"; }
.flaticon-telephone38:before { content: "\f1db"; }
.flaticon-telephone39:before { content: "\f1dc"; }
.flaticon-telephone46:before { content: "\f1dd"; }
.flaticon-text10:before { content: "\f1de"; }
.flaticon-thumb-down:before { content: "\f1df"; }
.flaticon-time25:before { content: "\f1e0"; }
.flaticon-time31:before { content: "\f1e1"; }
.flaticon-touch18:before { content: "\f1e2"; }
.flaticon-triangular42:before { content: "\f1e3"; }
.flaticon-trophy42:before { content: "\f1e4"; }
.flaticon-trophy53:before { content: "\f1e5"; }
.flaticon-trophy68:before { content: "\f1e6"; }
.flaticon-turn-on:before { content: "\f1e7"; }
.flaticon-twitter:before { content: "\f1e8"; }
.flaticon-twitter1:before { content: "\f1e9"; }
.flaticon-unlocked44:before { content: "\f1ea"; }
.flaticon-user91:before { content: "\f1eb"; }
.flaticon-verification5:before { content: "\f1ec"; }
.flaticon-view24:before { content: "\f1ed"; }
.flaticon-view32:before { content: "\f1ee"; }
.flaticon-visa4:before { content: "\f1ef"; }
.flaticon-visa5:before { content: "\f1f0"; }
.flaticon-visible9:before { content: "\f1f1"; }
.flaticon-watch2:before { content: "\f1f2"; }
.flaticon-weapon63:before { content: "\f1f3"; }
.flaticon-web2:before { content: "\f1f4"; }
.flaticon-web64:before { content: "\f1f5"; }
.flaticon-website11:before { content: "\f1f6"; }
.flaticon-western1:before { content: "\f1f7"; }
.flaticon-wheel2:before { content: "\f1f8"; }
.flaticon-wifi84:before { content: "\f1f9"; }
.flaticon-windows10:before { content: "\f1fa"; }
.flaticon-winner17:before { content: "\f1fb"; }
.flaticon-write12:before { content: "\f1fc"; }
.flaticon-youtube18:before { content: "\f1fd"; }
.flaticon-youtube30:before { content: "\f1fe"; }